/* #components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  } */
.ant-list-item-meta-avatar {
  background-color: black !important;
  color: white;
  width: 4vh;
  height: 4vh;
  border-radius: 0.8vh;
  line-height: 4vh;
  margin: 0 auto;
  display: inline !important;
  text-align: center !important;
}
